<!DOCTYPE html>
<html>
<head>
    <title>{{ $.Params.title }} - CIBIL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <link type="image/x-icon" href="{{ "img/favicon.ico" | relURL}}" rel="shortcut icon">
    {{ if .Site.IsServer }}
    {{ $style := resources.Get "scss/pdfs/print.scss" | resources.ExecuteAsTemplate "print.scss" . | toCSS (dict "targetPath" "css/print.css" "enableSourceMap" true) }}
        <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
        {{ $style := resources.Get "scss/pdfs/print.scss" | resources.ExecuteAsTemplate "print.scss" . | toCSS (dict "targetPath" "css/print.css" "enableSourceMap" false) }}
        <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
</head>
<body>
    <div class="print-page">
        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 pt-0 pr-0">
                        <h6 class="text-black font-cond-r m-0 f-25">ABCD Trading Company Pvt. Ltd. | <span class="text-grey4">Report ID : N100P6</span></h6>
                        <hr class="seprator-grey mt-05">
                        <div class="sticky-logo">
                            <img src="{{"img/cibil-logo.png" | absURL}}" width="53" class="sticky-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                <div>
                    <h1 class="text-darkblue font-light mt-0 mb-0 f-75">CIBIL Rank</h1>                    
                </div>

                <div class="table-wrap mt-1 your_cibil_rank">
                    <div class="table-header bg-blue">
                        <div class="row">
                            <div class="col-xs-6"><h4 class="text-white font-regular m-0 text-left text-uppercase f-28">Your CIBIL Rank</h4></div>                           
                            <div class="col-xs-6"><h5 class="text-white font-regular m-0 text-right f-25">April 2017- 2019</h5></div>                           
                        </div>
                    </div>
                    <div class="table-desc pb-0">
                        <p class="text-black font-regular m-0 f-25">CIBIL Rank is a numeric summary of your Company Credit Report and ranges from 1 to 10, where '1' is the best and '10' is the worst. Your CIBIL Rank may change based on any new information reported on your report. CIBIL Rank is generated for businesses with a credit exposure between Rs. 10 Lacs and Rs. 50 crores.</p>
                    </div>
                    <div class="overflow-hidden pr-15 pl-15 cibil_rank_sec">
                        <div class="rank-scale-wrap">
                            <div class="rank-scale-col scale-bad">
                                <div class="scale-number">
                                    <div class="number text-grey4 f-25">10</div>
                                    <div class="number text-grey4 f-25">9</div>
                                    <div class="number text-grey4 f-25">8</div>
                                </div>
                                <div class="scale-percentage font-cond-r5 f-25">21% Companies</div>
                            </div>
                            <div class="rank-scale-col scale-average">
                                <div class="scale-number">
                                    <div class="number text-grey4 f-25">7</div>
                                    <div class="number text-grey4 f-25">6</div>
                                    <div class="number text-grey4 f-25">5</div>
                                </div>
                                <div class="scale-percentage font-cond-r f-25">32% Companies</div>
                            </div>
                            <div class="rank-scale-col scale-vgood">
                                <div class="scale-number col_4">
                                    <div class="number text-grey4 f-25">4 <div class="rank-tooltip-pdf good font-light">4</div></div>
                                    <div class="number text-grey4 f-25">3</div>
                                    <div class="number text-grey4 f-25">2</div>
                                    <div class="number text-grey4 f-25">1</div>
                                </div>
                                <div class="scale-percentage font-cond-r f-25">47% Companies</div>
                            </div>
                        </div>
                    </div>  
                    <div class="padding-wrap pt-2 pb-1">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-15 pos-r badge-wrap"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span> No Delinquencies in the last 12 months</span></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-15 pos-r badge-wrap"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span> No Suit Filed or Wilful Defaults</span></div>            
                            </div>   
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-15 pos-r badge-wrap"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span> 98% on time payment</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-1 pos-r badge-wrap"><span class="badge-md bg-orange mr-1">73%</span><span> High utilisation of credit facilities</span></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-1 pos-r badge-wrap"><span class="badge-md bg-orange mr-1">1</span><span> Dishonoured cheque in last 12 months</span></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-flex font-regular f-25 align-items-center mb-1 pos-r badge-wrap"><span class="badge-md bg-danger mr-1">1</span><span> Account Overdue</span></div>
                            </div>
                        </div>
                    </div>   
                    <div class="footer-desc pl-15 pr-15 pt-0">
                        <h5 class="f-25 text-grey4 mt-0 mb-0 font-cond-r">CIBIL Rank generated is based on data available with CIBIL as on date 24 Apr 2019</h5>
                    </div>  
                </div>
                <div class="table-wrap mt-1">
                    <div class="table-header bg-blue">
                        <div class="row">
                            <div class="col-xs-6"><h4 class="text-white font-regular m-0 text-left text-uppercase f-28">Enquiries</h4></div>                           
                            <div class="col-xs-6"><h5 class="text-white font-regular m-0 text-right f-25">3 Enquiries in last 3 months | 32 Older Enquires in last 24 months</h5></div>                           
                        </div>
                    </div>
                    <div class="table-desc">
                        <p class="text-black font-regular m-0 f-25">An enquiry is added to the Company Credit Report every time a lender accesses your company's report. Below list is a record of all instances where your company's report was accessed in the past 24 months.</p>
                    </div>
                    <table class="table table-striped text-left table-22 table-valign-t table-enquires">
                        <thead>
                            <tr>
                                <th class="col-1">INSTITUTION NAME</th>
                                <th class="col-2">DATE OF ENQUIRY</th>
                                <th class="col-3">CREDIT TYPE</th>
                                <th class="col-4">ENQUIRY AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Citi Bank</td>
                                <td><span class="text-grey4">3 Apr 2019</span></td>
                                <td>Plain vanilla foreign currency option (including INR cross currency)</td>
                                <td><span class="text-grey4">2,00,000</span></td>
                            </tr>
                            <tr>
                                <td>ICICI</td>
                                <td><span class="text-grey4">17 Apr 2019</span></td>
                                <td>Plain vanila int rate swap(all including INR as coupon)</td>
                                <td><span class="text-grey4">12,00,000</span></td>
                            </tr>
                            <tr>
                                <td>HDFC Bank</td>
                                <td><span class="text-grey4">4 Mar 2019</span></td>
                                <td>Aggregation of all fund based facilities</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                            <tr>
                                <td>Citi Bank</td>
                                <td><span class="text-grey4">3 Mar 2019</span></td>
                                <td>Contracts on past performance - exports</td>
                                <td><span class="text-grey4">20,00,000</span></td>
                            </tr>
                            <tr>
                                <td>ICICI</td>
                                <td><span class="text-grey4">4 Mar 2019</span></td>
                                <td>Aggregation of all fund based facilities</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                            <tr>
                                <td>HDFC Bank</td>
                                <td><span class="text-grey4">4 Mar 2019</span></td>
                                <td>Facilities interchange between fund & non fund based</td>
                                <td><span class="text-grey4">5,00,000</span></td>
                            </tr>
                            <tr>
                                <td>Citibank</td>
                                <td><span class="text-grey4">3 Mar 2019</span></td>
                                <td>Aggregation of all borrowings due to filling of suit</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                            <tr>
                                <td>SBI Home</td>
                                <td><span class="text-grey4">4 Mar 2019</span></td>
                                <td>Payment Account (Point of Sale & Payment Gateways)</td>
                                <td><span class="text-grey4">6,00,000</span></td>
                            </tr>
                            <tr>
                                <td>HDFC Bank</td>
                                <td><span class="text-grey4">2 Mar 2019</span></td>
                                <td>Aggregation of all fund based facilities</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                            <tr>
                                <td>SVC</td>
                                <td><span class="text-grey4">4 Mar 2019</span></td>
                                <td>ARC Unsecured Loan (refer Annex. B for validations)</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                            <tr>
                                <td>HDFC Bank</td>
                                <td><span class="text-grey4">4 Feb 2019</span></td>
                                <td>Aggregation of all fund based facilities</td>
                                <td><span class="text-grey4">45,000</span></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

            </div>
        </div>
        <div class="page-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6"><label class="f-25 text-black--8 font-cond-sb">Company Credit Report</label></div>
                    <div class="col-xs-6 text-right"><label class="f-25 text-black--8 font-cond-sb">02</label></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>