{{ define "main" }}

{{- partial "header_2.html" . -}}

<div class="container cs-container mt-md-6 mb-md-6">
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="mb-2">
                <a href="/cibil/accounts/credit-facilities" class="back-to-reports text-link text-link-blue"><i class="chevron-circle-left"></i> BACK TO REPORT</a>            
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <h1 class="text-grey">Citi Bank <a href="#"></a></h1>
            <p class="text-grey mb-05">Plain vanila foreign currency option (including INR cross currency)</p>
            <p class="text-black font-light">A/C AFK45675611 <span class="account-status ml-1">OPEN</span></p>

            <div class="loan-status-wrap mt-3">
                <h5 class="font-regular text-darkorange2 mb-05">OVERDUE 30-60 DAYS</h5>
                <p class="text-black">Reported Date - 8 Aug 2019</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 col-lg-9 order-md-1">
            <!-- <div class="credit-status">
                <div class="bank-name">HDFC</div>
                <div class="loan-details">
                    Any complex derivative loan involving foreign currency with option
                    <label>A/C AFK45675611 <span class="account-status">OPEN</span></label>
                </div>
                <div class="loan-status">
                    <span class="d-md-none font-14 font-light">Status: </span> 
                    <div class="d-inline status status-open font-regular">OPEN</div>
                </div>
                <div class="report-date mt-05 mt-md-0">
                    <label>Report Date<span class="d-md-none">: </span></label>
                    <div class="date">4 Mar 2016</div>
                </div>        
            </div> -->
            <div>
                <div class="heading-outline-wrap">
                    <h5 class="text-uppercase text-blue mb-0">Loan Information</h5>                
                </div>
                <div class="loan-information mt-1">
                    <div class="row m-md-0">
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Amount</div>
                                <div class="col-6 col-text">₹ 56,00,000</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Drawing Power</div>
                                <div class="col-6 col-text">₹ 5,00,000</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Installment Amount</div>
                                <div class="col-6 col-text">₹ 11,000</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Tenure</div>
                                <div class="col-6 col-text">36</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Date</div>
                                <div class="col-6 col-text">28 Nov 2019</div>
                            </div>
                        </div>
                        <div class="col-lg-4 rw">
                            <div class="row rw">
                                <div class="col-6 col-heading">Outstanding Balance</div>
                                <div class="col-6 col-text">₹ 46,39,463</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Repayment Frequency</div>
                                <div class="col-6 col-text">Monthly</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Loan Expiry</div>
                                <div class="col-6 col-text">09 Oct 2022</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">High Credit</div>
                                <div class="col-6 col-text">0</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Last Repaid</div>
                                <div class="col-6 col-text">0</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Loan Renewal</div>
                                <div class="col-6 col-text">-</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row rw">
                                <div class="col-6 col-heading">Restructuring Reason</div>
                                <div class="col-6 col-text">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-history-section mt-1">
                <div class="heading-outline-wrap">
                    <h5 class="text-uppercase text-blue mb-0">Payment History</h5>                
                </div>
                <div class="table-payment-history">
                    <div class="table-wrap">
                        <div class="table-fixed-left">
                            <table class="table-striped table-12 w-100 table-fixed-layout">
                                <thead>
                                    <tr> <th>YEAR</th> </tr>
                                </thead>
                                <tbody>                                   
                                    <tr>
                                        <th>2017</th>
                                    </tr>
                                    <tr>
                                        <th>2018</th>
                                    </tr>
                                    <tr>
                                        <th>2019</th>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                        <div class="table-scroll" id="table-scroll">
                            <table class="table-striped table-fixed-layout table-12 w-100">
                                <thead>
                                    <tr>
                                        <th>JAN</th>
                                        <th>FEB</th>
                                        <th>MAR</th>
                                        <th>APR</th>
                                        <th>MAY</th>
                                        <th>JUN</th>
                                        <th>JUL</th>
                                        <th>AUG</th>
                                        <th>SEP</th>
                                        <th>OCT</th>
                                        <th>NOV</th>
                                        <th>DEC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>                   
                                        <td></td>                              
                                        <td></td>                              
                                        <td></td>                              
                                        <td></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                    </tr>
                                    <tr>                                                      
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                    </tr>
                                    <tr>                                                       
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                             
                                        <td><span class="payment-amount"><i class="circle-success"></i> 1,50,000</span></td>                              
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
                <div>
                    <div class="d-flex border border-top-0 border-left-0 border-right-0">
                        <div class="col-6 font-14 text-uppercase font-regular text-grey border-right pt-1 pb-1">Security Details</div>
                        <div class="col-6 font-14 text-uppercase font-regular text-grey pt-1 pb-1">Guarantor Details</div>
                    </div>
                    <div class="d-flex border border-top-0 border-left-0 border-right-0">
                        <div class="col-6 font-12 text-grey border-right pt-1 pb-2">No available security details</div>
                        <div class="col-6 font-12 text-grey pt-1 pb-2">No available guarantor details</div>
                    </div>
                </div>

                <div class="credit-list-pagination d-flex justify-content-between flex-row mt-5 mb-3 mb-md-0">
                    <div class="prev-page page text-left col-6 pl-0">
                        <a href="" target="_self" class="link">
                            <h6 class="font-14 text-blue animate label"><i class="icon-prev"></i> PREV</h6>
                            <h2 class="text-grey mb-0 title">ICICI</h2>
                            <label class="font-light text-grey mb-0 font-11 sub-title">8 Apr, 2018</label>
                        </a>
                    </div>
                    <div class="next-page page text-right col-6 pr-0">
                        <a href="" target="_self" class="link">
                            <h6 class="font-14 text-blue animate label">NEXT IS <i class="icon-next"></i></h6>
                            <h2 class="text-grey mb-0 title">Citibank</h2>
                            <label class="font-light text-grey mb-0 font-11 sub-title">4 Mar, 2016</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 order-md-0">
            <div class="info-box text-center dispute-box">
                <div class="info-box-icon"><img src="{{"img/dispute.png" | absURL}}"></div>
                <span class="seprator-xs seprator-xs-yellow"></span>                
                <h4 class="info-box-sub-title text-grey text-center">Dispute Resolution</h4>
                <h5 class="info-box-title text-grey font-light text-center mb-0">Simple online Dispute facility to help you rectify errors in your CCR report</h5>
                <a href="#" class="text-link text-link-blue font-14" data-toggle="modal" data-target="#raise-dispute">Raise a dispute</a>
            </div>
        </div>
    </div>
</div>

<div id="raise-dispute" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content modal-no-layout">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close-icon"></span></button>
            <div class="raise-dispute mb-2">
                <h1 class="modal-title text-blue text-center text-md-left">Raise a dispute for Credit facility</h1>
                <h4 class="text-grey">Select the sections of your credit facility for which an issue exists. On submission we will contact you to clarify.</h4>
            </div>
            <div class="form-content">
                <form>
                    <div class="tab-menu">
                        <div class="tab-menu-header">
                            <h4 class="mb-0 heading">HDFC (4 Mar, 2019)</h4>
                        </div>
                        <div class="tab-panel-wrap w-100">
                            <div class="tab-menu-list">
                                <ul>
                                    <li class="active" data-menu="loan-information">Loan Information <span class="badge badge-count badge-red"></span></li>
                                    <li data-menu="payment-history">Payment History <span class="badge badge-count badge-red"></span></li>
                                    <li data-menu="security-details">Security Details <span class="badge badge-count badge-red"></span></li>
                                    <li data-menu="guarantor-details">Guarantor Details <span class="badge badge-count badge-red"></span></li>
                                </ul>
                            </div>
                            <div class="tab-menu-content">
                                <div class="loan-information menu-content active" style="display: block;">
                                    <div class="back-to-tab"><i class="icon-prev icon-prev-white"></i> Back</div>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="ln-1" name="loan-info">
                                            <label for="ln-1"><span class="font-light">Amount:</span> ₹ 56,00,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-2" name="loan-info">
                                            <label for="ln-2"><span class="font-light">Date:</span> 28 Nov 2019</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-3" name="loan-info">
                                            <label for="ln-3"><span class="font-light">Drawing Power:</span> ₹ 5,00,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-4" name="loan-info">
                                            <label for="ln-4"><span class="font-light">Outstanding balance:</span> ₹ 46,39,463</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-5" name="loan-info">
                                            <label for="ln-5"><span class="font-light">Amount:</span> ₹ 56,00,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-6" name="loan-info">
                                            <label for="ln-6"><span class="font-light">Date:</span> 28 Nov 2019</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-7" name="loan-info">
                                            <label for="ln-7"><span class="font-light">Drawing Power:</span> ₹ 5,00,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ln-8" name="loan-info">
                                            <label for="ln-8"><span class="font-light">Outstanding balance:</span> ₹ 46,39,463</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment-history menu-content">
                                    <div class="back-to-tab"><i class="icon-prev icon-prev-white"></i> Back</div>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="ph-1" name="loan-info">
                                            <label for="ph-1">JAN ₹ 1,00,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-2" name="loan-info">
                                            <label for="ph-2">FEB ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-3" name="loan-info">
                                            <label for="ph-3">MAR ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-4" name="loan-info">
                                            <label for="ph-4">APR ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-5" name="loan-info">
                                            <label for="ph-5">MAY ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-6" name="loan-info">
                                            <label for="ph-6">JUN ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-7" name="loan-info">
                                            <label for="ph-7">JUL ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-8" name="loan-info">
                                            <label for="ph-8">AUG ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-9" name="loan-info">
                                            <label for="ph-9">SEP ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-10" name="loan-info">
                                            <label for="ph-10">OCT ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-11" name="loan-info">
                                            <label for="ph-11">NOV ₹ 1,50,000</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="ph-12" name="loan-info">
                                            <label for="ph-12">DEC ₹ 1,50,000</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments mt-2">
                        <h4 class="text-blue"><span class="text-link text-link-blue font-16">Comments</span> (optional)</h4>
                        <textarea></textarea>
                    </div>
                    <div class="col-12 mt-2 p-0 text-right dispute-action">
                        <button class="btn btn-fill btn-fill-lightgrey btn-lg btn-cancel" data-dismiss="modal" aria-label="Close">CANCEL</button>
                        <button class="btn btn-fill btn-fill-orange btn-lg btn-save text-uppercase">Raise a Dispute</button>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>

{{ end }}