{{ define "main" }}

{{- partial "header_2.html" . -}}

<!-- <div class="breadcrumb-wrap mt-3">
    <div class="container cs-container">
        <ul class="breadcrumb">
            <li><a href="#">My Reports</a></li>
            <li class="active"><a href="#">Dimension Engineers</a></li>
        </ul>
    </div>
</div> -->

<div class="container cs-container">
    <div class="mt-4">
        <h1 class="text-grey">Company Credit Reports</h1>
        <p class="text-grey">Below are the Company Credit Reports you are authorized to view</p>
    </div>

   <div class="reports-container">
        <h5 class="form-section-title text-blue text-underline text-underline-blue mt-1">My Reports</h5>
        <div class="my-reports mt-1">
            <div class="report-wrap new-report">
                <div class="card report-card">
                    <div class="badge badge-new">NEW</div>
                    <a href="/cibil/accounts/overview/"  class="row text-decoration-none">
                        <div class="col-md-8 col-lg-5 cd-right-seprator">
                            <div class="company-details">
                                <h2 class="mb-0">Dimension Engineers</h2>
                                <p class="text-grey mb-0">Panjim Goa 403001</p>
                                <p class="font-regular mb-0 mt-2 d-none d-md-block report-id">Total Reports Purchased:  <span class="text-black font-16">2</span></p>
                                
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-7">
                            <div class="row align-items-center">
                                <div class="col-md-9 pl-md-4">
                                    <div class="order-status mt-1 mb-1">
                                            <p class="font-regular font-12 d-none d-md-block mb-0 mt-0 report-id">Latest Report</p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 report-id">Report Date: <span class="text-black font-16">06 Jul 2019</span></p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 report-id">Report ID: <span class="text-black font-16">123ABC89000XTS</span></p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 d-none d-md-block report-id">Order Status <span class="text-blue font-16">TO BE SHIPPED</span></p>                                    
                                    </div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <div class="report-action">
                                        <span class="btn btn-round btn-view-report mt-2 mt-md-0 d-none d-md-block ml-auto">View <i class="arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="new-report-alert font-light font-14"><i class="text-blue font-20 valign-middle fas fa-info-circle"></i> New report available. To generate <a class="text-link text-link-blue" target="_self" href="#">click here</a></div>
                </div>                
            </div>
        </div>
        <div class="text-right mt-4">
            <button class="btn btn-outline btn-outline-orange btn-lg border-width-2 btn-add-company"><i class="icon-add d-inline-block"></i> ADD COMPANY</button>
        </div>
   </div>
   <div class="reports-container mt-5 mb-6">
        <h5 class="form-section-title text-blue text-underline text-underline-blue mt-1">Reports Shared with me</h5>
        <div class="shared-reports mt-1">
            <div class="report-wrap">
                <div class="card report-card mb-2">
                    <a href="/cibil/accounts/credit-facilities/" class="row text-decoration-none">
                        <div class="col-md-8 col-lg-5 cd-right-seprator">
                            <div class="company-details">
                                <h2 class="mb-0">Tarcar Real Estate Private Limited</h2>
                                <p class="text-grey mb-0">Panjim Goa 403001</p>
                                <p class="font-regular mb-0 mt-2 d-none d-md-block report-id">Total Reports Shared: <span class="text-black font-16">1</span></p>                           
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-7">
                            <div class="row align-items-center">
                                <div class="col-md-9 pl-md-4">
                                    <div class="mt-1 mb-1">
                                        <p class="font-regular font-12 mb-0 mt-0 report-id d-none d-md-block">Latest Report</p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 report-id">Report Date: <span class="text-black font-16">06 Jul 2019</span></p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 report-id">Report ID: <span class="text-black font-16">123ABC89000XTS</span></p>
                                    </div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <div class="report-action text-right">
                                        <span class="btn btn-round btn-view-report mt-2 mt-md-0 d-none d-md-block ml-auto">View <i class="arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="report-wrap">
                <div class="card report-card">
                    <a  href="/cibil/accounts/credit-facilities/" class="row text-decoration-none">
                        <div class="col-md-8 col-lg-5 cd-right-seprator">
                            <div class="company-details">
                                <h2 class="mb-0">Bandekar Brother Private Limited</h2>
                                <p class="text-grey mb-0">Panjim Goa 403001</p>
                                <p class="font-regular mb-0 mt-2 d-none d-md-block report-id">Total Reports Shared:  <span class="text-black font-16">3</span></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-7">
                            <div class="row align-items-center">
                                <div class="col-md-9 pl-md-4">
                                    <div class="mt-1 mb-1">
                                        <p class="font-regular font-12 mb-0 mt-1 report-id d-none d-md-block">Latest Report</p>
                                        <p class="font-regular mb-0 mt-05 mt-md-1 report-id">Report Date: <span class="text-black font-16">06 Jul 2019</span></p>
                                        <p class="font-regular mb-0 mt-05 mt-1 report-id">Report ID: <span class="text-black font-16">123ABC89000XTS</span></p>
                                    </div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <div class="report-action text-right">
                                        <span class="btn btn-round btn-view-report mt-2 mt-md-0 d-none d-md-block ml-auto">View <i class="arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
   </div>

</div>

{{ end }}