<div class="d-md-flex justify-content-between align-items-center mb-3">
    <div>
        <h1 class="section-title text-grey mb-1 mb-md-0">Certificate</h1>
    </div>
    <div class="text-right">
        <a href="{{"img/certificate.png" | relURL}}" download target="_blank" class="btn btn-fill btn-xs font-12 btn-fill-orange"><i class="fas fa-download"></i> Download Certificate</a>
    </div>
</div>
<div class="certificate-wrap mb-6">    
    <div class="outline-wrap">
        <img src="{{"img/certificate.png" | relURL}}" class="img-fluid">        
    </div>
</div>