<div class="d-md-none">               
    <h4 class="side-menu-title">Report Outline</h4>
    <ul class="side-navigation">
        <li><a href="#" data-page="overview">Overview</a></li>
        <li><a href="#" data-page="rank-details">Rank Details</a></li>
        <li><a href="#" data-page="certificate">Certificate</a></li>
        <li><a href="#" data-page="company-profile">Company Profile</a></li>
        <li><a href="#" data-page="report-summary">Report Summary</a></li>
        <li><a href="#" data-page="enquiries">Enquiries</a></li>
        <li class="active"><a href="#" data-page="open-credit-facilities">Open Credit Facilities</a></li>
        <li><a href="#" data-page="closed-credit-facilities">Closed Credit Facilities</a></li>
        <li class="active"><a href="#" data-page="open-credit-facilities-guarantor">Open Credit Facilities Guarantor</a></li>
        <li><a href="#" data-page="closed-credit-facilities-guarantor">Closed Credit Facilities Guarantor</a></li>
        <li><a href="#" data-page="credit-summary">Credit Summary</a></li>
        <li><a href="#" data-page="adverse-information">Adverse Information</a></li>

        <!-- <li><a href="#" data-page="exposure-summary">Exposure Summary</a></li> -->
        <!-- <li><a href="#" data-page="order-details">Order details</a></li> -->
    </ul>
</div>