<h1 class="text-grey">Rank Details</h1>
<p class="text-grey font-light">CIBIL Rank is a numeric summary of your Company Credit Report and ranges from 1 to 10, where '1' is the best and '10' is the worst. Your CIBIL Rank may change based on any new information reported on your report. CIBIL Rank is generated for businesses with a credit exposure between Rs. 10 Lacs and Rs. 50 crores.</p>

<div class="row mb-3 mt-3">
    <div class="col-md-12">        
        <div class="card">
            <div class="card-body">               
                <div class="cibil-rank-number bounceIn animated">
                    <h2 class="rank-position rank-good text-center mb-1">4</h2>
                </div>
                <h4 class="text-black text-center mb-05">CIBIL RANK</h4>
                <!-- <h5 class="text-center text-center text-black font-light">April 2017 - 2019</h5> -->
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 mb-0">
        <p class="text-darkgreen3 font-16 text-center">Your Rank is <span class="h3 font-bold d-inline-block">53%</span> better than other companies</p>
    </div>
    <div class="col-md-12 overflow-hidden">
        <div class="rank-scale-grap mt-2 d-none"></div>
        <div class="rank-scale-wrap">
            <div class="rank-scale-col scale-bad">
                <div class="scale-number">
                    <div class="number">10</div>
                    <div class="number">9</div>
                    <div class="number">8</div>
                </div>
                <div class="scale-percentage">21% Companies</div>
            </div>
            <div class="rank-scale-col scale-average">
                <div class="scale-number">
                    <div class="number">7</div>
                    <div class="number">6</div>
                    <div class="number">5</div>
                </div>
                <div class="scale-percentage">32% Companies</div>
            </div>
            <div class="rank-scale-col scale-good">
                <div class="scale-number col_4">
                    <div class="number">4 <div class="rank-tooltip bounceInUp animated">4</div></div>
                    <div class="number">3</div>
                    <div class="number">2</div>
                    <div class="number">1</div>
                </div>
                <div class="scale-percentage">47% Companies</div>
            </div>
        </div>
    </div>
        
    <div class="col-md-12 mt-5 rating-summary-badge">
        <h5 class="form-section-title text-blue text-underline text-underline-blue mt-0 mb-3">Summary</h5>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span class="font-14 text-regular"> Delinquencies in the last 12 months</span></div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span class="font-14 text-regular"> No Suit Filed or Wilful Defaults</span></div>            
                    </div>   
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-success mr-1"><i class="tick tick-white"></i></span><span class="font-14 text-regular"> 98% on time payment</span></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-orange mr-1">73%</span><span class="font-14 text-regular"> High utilisation of credit facilities</span></div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-orange mr-1">1</span><span class="font-14 text-regular"> Dishonoured cheque in last 12 months</span></div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-2"><span class="badge-md bg-danger mr-1">1</span><span class="font-14 text-regular"> Account Overdue</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-12 mt-5">
        <h5 class="text-grey font-light">CIBIL Rank generated is based on data available with CIBIL as on date 24 Apr 2019</h5>
    </div> -->
</div>