<h1 class="text-grey">Report Summary</h1>
<p class="text-grey font-light">Below is a summary of your Company Credit Report. This summary is designed to provide you an overview and help you in managing your company's finances. To understand what each sub-section in this summary means, refer to the information provided within the sub-section.</p>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="text-grey text-center">CIBIL Rank</h4>
                <div class="text-center bounceIn animated">
                    <img src="{{ "img/rank_4.png" | relURL}}" class="img-fluid" width="120" height="120">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-body">
                <div>
                    <h4 class="text-grey mb-05">Credit Facilities Availed by your company</h4>
                    <h5 class="text-grey font-light">174 Credit Facilities</h5>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-12 border-bottom">
                        <div class="text-center pt-1 pb-1">
                            <h2 class="mb-0 text-error">54</h2>
                            <h5 class="mb-0 text-error font-light">Delinquent</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center pt-1">
                            <h2 class="mb-0">77</h2>
                            <h5 class="mb-0 text-grey font-light">Closed</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center pt-1">
                            <h2 class="mb-0">43</h2>
                            <h5 class="mb-0 text-grey font-light">Open</h5>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-body">
                <div>
                    <h4 class="text-grey mb-05">Credit Facilites Guaranteed by your Company</h4>
                    <h5 class="text-grey font-light">18 Credit Facilities</h5>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-12 border-bottom">
                        <div class="text-center pt-1 pb-1">
                            <h2 class="mb-0 text-error">3</h2>
                            <h5 class="mb-0 text-error font-light">Delinquent</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center pt-1">
                            <h2 class="mb-0">10</h2>
                            <h5 class="mb-0 text-grey font-light">Closed</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-center pt-1">
                            <h2 class="mb-0">5</h2>
                            <h5 class="mb-0 text-grey font-light">Open</h5>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="heading-outline-wrap d-flex flex-wrap">        
    <h5 class="text-uppercase text-blue mb-0">Adverse Information</h5>                                      
</div>
<div class="col-12 mt-1 mb-3">
    <div class="row m-md-0">
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Settled</div>
                <div class="col-6 col-text">₹ 15,00,800 <span class="font-12 text-grey font-light d-block">(1 credit facility)</span></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Invoked / devolved</div>
                <div class="col-6 col-text">₹ 35,00,800 <span class="font-12 text-grey font-light d-block">(1 credit facility)</span></div>
            </div>                         
        </div>                         
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Dishonoured cheque</div>
                <div class="col-6 col-text">₹ 18,00,800 <span class="font-12 text-grey font-light d-block">(2 credit facility)</span></div>
            </div>                         
        </div>                         
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Overdue</div>
                <div class="col-6 col-text">₹ 24,00,000 <span class="font-12 text-grey font-light d-block">(2 credit facility)</span></div>
            </div>                         
        </div>                         
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Written Off</div>
                <div class="col-6 col-text">₹ 60,03,200 <span class="font-12 text-grey font-light d-block">(4 credit facility)</span></div>
            </div>                         
        </div>            
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Wilful Default</div>
                <div class="col-6 col-text">₹ 60,03,200 <span class="font-12 text-grey font-light d-block">(3 credit facility)</span></div>
            </div>                         
        </div>    
        <div class="col-lg-6">
            <div class="row rw">
                <div class="col-6 col-heading">Suit Filed</div>
                <div class="col-6 col-text">₹ 64,01,600 <span class="font-12 text-grey font-light d-block">(1 credit facility)</span></div>
            </div>                         
        </div>  
    </div>                      
</div>

<div>
    <div class="heading-outline-wrap d-flex flex-wrap">        
        <h5 class="text-uppercase text-blue mb-0">Payment Regularity</h5>                                      
    </div>
    <div class="col-12 p-0 pl-md-1 pr-md-1 mt-2">
        <p class="text-grey">Below is a percentage of instances where repayments were done before the due date. Upto last 24 months of payment history has been considered. A summary of delinquent months & type of delinquency has also been presented.</p>
        <div class="row align-items-center justify-content-center exposure-ratio mb-3">
            <div class="col-12 col-md-5">
                <div class="progress-wrapper mb-2 mb-md-0">
                    <div class="circle-percentage">
                        <div class="percentage-value text-b_darkblue ease"><span class="value">0</span><span class="percent">%</span></div>
                        <div class="progress progress-darkblue bg-white" data-progress="94" id="progress1">
                            <span class="progress-left">
                                <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 row">
                <div class="col-12 text-center text-md-left">
                    <div class="pr-amount">
                        <div class="d-inline-block">
                            <h1 class="text-darkgreen2 mb-0">308<span class="font-20 text-black font-light">/320</span></h1>
                            <h5 class="d-block label font-light text-center text-grey">payments on time</h5>
                        </div>
                    </div>
                </div>                            
            </div>
            <div class="col-12 mt-3">
                <h4 class="text-grey">No. of months in delinquency</h4>                
                <table class="table-14 w-100 font-light mt-1 cellpadding-tb-5">
                    <tbody>
                        <tr>
                            <td><span class="text-orange2">1 - 89 DAYS</span></td>
                            <td><span class="text-orange3">90 - 179 DAYS</span></td>
                            <td><span class="text-brown2">> 179 DAYS</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-orange2">SMA</span></td>
                            <td><span class="text-orange3">SUB</span></td>
                            <td><span class="text-brown2">DOUBTFUL / LOSS</span></td>
                        </tr>                        
                        <tr>
                            <td><span class="text-black font-20 font-regular">5</span></td>
                            <td><span class="text-black font-20 font-regular">1</span></td>
                            <td><span class="text-black font-20 font-regular">1</span></td>
                        </tr>                        
                    </tbody>
                </table>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-5">
    <div class="heading-outline-wrap d-flex flex-wrap">        
        <h5 class="text-uppercase text-blue mb-0">Working Capital Utilization</h5>
    </div>      
    <div class="col-12 p-0 pl-md-1 pr-md-1 mt-2">
        <p>Below is the current consolidated utilization across all the working capital loans availed by your company. The graph represents the utilization trend over the last 24 months.</p>
        <div class="row align-items-center justify-content-center exposure-ratio mb-3">
            <div class="col-12 col-lg-5 mb-2 mb-md-0">
                <div class="progress-wrapper mb-2 mb-md-0">
                    <div class="circle-percentage">
                        <div class="percentage-value text-b_darkblue ease"><span class="value">0</span><span class="percent">%</span></div>
                        <div class="progress progress-darkblue bg-white" data-progress="74" id="progress3">
                            <span class="progress-left">
                                <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 row">
                <div class="col-6 col-md-6">                    
                    <h2 class="d-block amount text-center mb-0">₹ 5.4 Cr</h2>
                    <h5 class="d-block label font-light text-center text-grey">Avg. Utilization</h5>                    
                </div>                
                <div class="col-6 col-md-6 pb-1">                    
                    <h2 class="d-block amount text-center mb-0">₹ 7.4 Cr</h2>
                    <h5 class="d-block label font-light text-center text-grey">Drawing Power</h5>                    
                </div>                
                <div class="col-12 col-md-12 pt-1 border-top">                    
                    <h2 class="d-block amount text-center mb-0">₹ 8.2 Cr</h2>
                    <h5 class="d-block label font-light text-center text-grey">Total Sanctioned</h5>                    
                </div>                
            </div>
        </div>
        <div class="">
            <h4 class="text-grey mb-0">24 months Utilization trend</h4>
            <div class="text-right d-flex justify-content-end mb-2">
                <label class="font-light d-flex align-items-center mb-0"><span class="badge-line-red d-inline-block mr-1"></span> Avg. Utilisation</label>
            </div>
            <canvas id="working-capital-graph" width="200" height="100"></canvas>
        </div>  
    </div>  
</div>

<div class="company-exposure-section mb-5">
    <div class="heading-outline-wrap d-flex flex-wrap">        
        <h5 class="text-uppercase text-blue mb-0">Current Exposure</h5>                                      
    </div>
    <div class="col-12 p-0 pl-md-1 pr-md-1 mt-2">
        <div class="exposure-ratio-graph">
            <h4 class="text-grey">Exposure Ratio</h4>
            <p class="text-grey">Below is a ratio of current outstanding amount consolidated across all loans to the highest credit exposure reported over the past 24 months.</p>
            <div class="row align-items-center justify-content-center exposure-ratio mb-3">
                <div class="col-12 col-md-5">
                    <div class="progress-wrapper mb-2 mb-md-0">
                        <div class="circle-percentage">
                            <div class="percentage-value text-b_darkblue ease"><span class="value">0</span><span class="percent">%</span></div>
                            <div class="progress progress-darkblue bg-white" data-progress="70" id="progress2">
                                <span class="progress-left">
                                    <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-b_darkblue" style="transform: rotate(0);"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 row">
                    <div class="col-6 col-md-12 border-right border-right-md-0">                    
                        <h2 class="d-block amount text-center mb-0">₹ 2.1 Cr</h2>
                        <h5 class="d-block label font-light text-center text-grey">Current Exposure</h5>                    
                    </div>
                    <hr class="d-none d-md-block w-100">
                    <div class="col-6 col-md-12">                    
                        <h2 class="d-block amount text-center mb-0">₹ 3.0 Cr</h2>
                        <h5 class="d-block label font-light text-center text-grey">Maximum Exposure in the last 24 months</h5>                    
                    </div>
                </div>
            </div>
            <hr class="d-none d-lg-block">
            <div class="row mt-3">
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <div class="card border-md-0">
                        <div class="card-body p-md-0">
                            <h4 class="text-grey">By Credit Type</h4>
                            <p class="text-grey">Below is a break-up of outstanding amount across all loan types and their contribution to overall credit exposure.</p>
                            <div class="company-exposure-graph">
                                <div class="canvas-wrap mb-2">
                                    <canvas id="credit-type-graph" width="100" height="100"></canvas>
                                    <div class="canvas-center-text">
                                        <h2 class="text-black d-block mb-0 text-center">40</h2>
                                        <label class="d-block text-grey text-uppercase font-12 text-center font-light">Active Credit Facilites</label>
                                    </div>                                
                                </div>
                                <div class="company-details-info">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-lightblue mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Non Funded <span class="text-grey font-12 d-block">2 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 5 Lac <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-yellow mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Working Capital <span class="text-grey font-12 d-block">3 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 3.5 Cr <span class="text-grey font-light font-12">15.25%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-grey mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Term Loan <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 4.56 Cr <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-navybule mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Forex <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 22.5 Cr <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-grey mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Others <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 22.5 Cr <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 border-lr mb-3 mb-lg-0">
                    <div class="card border-md-0">
                        <div class="card-body p-md-0">
                            <h4 class="text-grey">By Bank</h4>
                            <p class="text-grey">Below is a break-up of outstanding amount across different banks and their contribution to overall credit exposure.</p>
                            <div class="company-exposure-graph">
                                <div class="canvas-wrap mb-2">
                                    <canvas id="bank-graph" width="100" height="100"></canvas>
                                    <div class="canvas-center-text">
                                        <h2 class="text-black d-block mb-0 text-center">25</h2>
                                        <label class="d-block text-grey text-uppercase font-12 text-cente font-lightr">Bank</label>
                                    </div>
                                </div>
                                <div class="company-details-info">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-blue mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">HDFC Bank <span class="text-grey font-12 d-block">2 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 5 Lac <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-grey2 mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Dena Bank <span class="text-grey font-12 d-block">3 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 3.2 Cr <span class="text-grey font-light font-12">15.25%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-green mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Citi Bank <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 2.56 K <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-b_light mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">RBS <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 3 Lac <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-b_blue2 mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Others <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 4 Lac <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <div class="card border-md-0">
                        <div class="card-body p-md-0">
                            <h4 class="text-grey">By Bank type</h4>
                            <p class="text-grey">Below is a break-up of outstanding amount across different banks and their contribution to overall credit exposure.</p>
                            <div class="company-exposure-graph">
                                <div class="canvas-wrap mb-2">
                                    <canvas id="bank-type-graph" width="100" height="100"></canvas>
                                    <div class="canvas-center-text">
                                        <h2 class="text-black d-block mb-0 text-center"><span class="font-12">₹ </span>2.1 <span class="font-light font-14">Cr</span></h2>
                                        <label class="d-block text-grey text-uppercase font-12 text-center font-light">Total Exposure</label>
                                    </div>
                                </div>
                                <div class="company-details-info">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-blue mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Public <span class="text-grey font-12 d-block">2 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 5 Lac <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-grey2 mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">Private <span class="text-grey font-12 d-block">3 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 3.2 Cr <span class="text-grey font-light font-12">15.25%</span></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-6 pr-0">
                                            <div class="d-flex align-items-center">
                                                <span class="badge-fill badge-fill-green mr-05" style="min-width: 20px;"></span>
                                                <span class="info-item-text font-16 font-light line-height-normal">NBFC <span class="text-grey font-12 d-block">5 Loans</span></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-0 text-right">
                                            <label class="d-block text-black font-16">₹ 2.56 K <span class="text-grey font-light font-12">17.29%</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-2 mb-6 exposure-trend-section">
    <div class="heading-outline-wrap d-flex flex-wrap">        
        <h5 class="text-uppercase text-blue mb-0">Exposure Trend</h5>                                   
    </div>
    <div class="col-12 p-0 pl-md-1 pr-md-1 mt-2">
        <p>Below chart provides the average monthly exposure per quarter of consolidated outstanding amount over the past 24 months.</p>

        <div class="exposure-trend-graph">
            <div class="graph-info-items d-md-flex flex-wrap mt-3 mb-3 justify-content-md-center">
                <div class="info-item d-flex align-items-center mr-2 mb-1 mt-1">
                    <span class="badge-fill badge-fill-lightblue mr-05"></span>
                    <span class="info-item-text font-14 line-height-normal">Non Funded</span>
                </div>
                <div class="info-item d-flex align-items-center mr-2 mb-1 mt-1">
                    <span class="badge-fill badge-fill-yellow mr-05"></span>
                    <span class="info-item-text font-14 line-height-normal">Working Capital</span>
                </div>
                <div class="info-item d-flex align-items-center mr-2 mb-1 mt-1">
                    <span class="badge-fill badge-fill-grey mr-05"></span>
                    <span class="info-item-text font-14 line-height-normal">Term Loan</span>
                </div>
                <div class="info-item d-flex align-items-center mr-2 mb-1 mt-1">
                    <span class="badge-fill badge-fill-navybule mr-05"></span>
                    <span class="info-item-text font-14 line-height-normal">Forex</span>
                </div>
                <div class="info-item d-flex align-items-center mr-2 mb-1 mt-1">
                    <span class="badge-fill badge-fill-green mr-05"></span>
                    <span class="info-item-text font-14 line-height-normal">Others</span>
                </div>
            </div>
            <canvas id="exposure-trend-graph" width="200" height="80"></canvas>
            <div class="chart-footer-info mt-2">
                <ul>
                    <li>Q1 APR - JUN</li>
                    <li>Q2 JUN - AUG</li>
                    <li>Q3 AUG - OCT</li>
                    <li>Q4 OCT - DEC</li>                    
                </ul>
            </div>
        </div>
    </div>        
</div>