<div class="modal fade" id="contactus-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-no-layout">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close-icon"></span></button>            

            <h1 class="modal-title text-blue text-center text-md-left mb-1">Contact Us</h1>
            <p class="text-grey font-regular">In case you have and queries or issues, you can contact us</p>
            <div class="mt-1 mb-3 d-flex align-items-center">
                <img src="/cibil/img/kyc/icon/call-us.png" style="max-width: 42px; height: auto;">
                <div class="media-body ml-2 ml-md-3">                    
                    <h4 class="text-grey font-light"><span class="text-highlight font-regular">+91 - 2266384600.</span> (Mon - Fri): 10:00 am to 06:00 pm</h4>
                </div>
            </div>
            <div class="mt-0 floating-fields">
                <p class="text-grey font-regular">Or you can enter your message below</p>
                <form class="signup-form" action="/cibil/signup/" method="POST">
                    <div class="fr-field">
                        <textarea class="form-control form-control-textarea" placeholder="Enter message here" rows="4"></textarea>
                    </div>
                    <div class="form-action mt-3 text-right">                        
                        <!-- <button type="button" class="btn btn-fill btn-fill-lightgrey btn-lg mr-md-1 btn-update-info" data-dismiss="modal">CANCEL</button> -->
                        <button class="btn btn-lg btn-fill btn-xl btn-fill-orange btn-proceed-signup btn-update-info font-14" data-dismiss="modal" id="btn-signup-submit">SEND MESSAGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>