<!-- Floating Help Button -->
<button class="btn-floating btn-round btn-help btn-fill btn-fill-blue">
        <div class="btn-close"><i class="fas fa-question question-icon"></i></div>
        <div class="btn-open"><i class="close-icon"></i></div>
    </button>
    
    <div class="questionable-panel dropdown-menu-anim">
        <div class="questionable-wrapper">
            <div class="inner-wrap">
                <div class="questionable-panel-header">
                    <h2 class="text-white mb-0">Hello.</h2>
                </div>
                <div class="questionable-panel-heading">
                    <h4 class="mb-0 text-darkblue">Suggested articles:</h4>
                </div>
                <div class="questions-list-group">
                    <ul class="list-group drilldown-list">
                        <li data-index="0">
                            <h5>What is the CIBIL Rank?</h5>
                        </li>
                        <li data-index="1">
                            <h5>What is CIBIL Company Credit Report (CCR)?</h5>
                        </li>
                        <li data-index="2">
                            <h5>Who can access CIBIL Rank and CCR?</h5>
                        </li>
                        <li data-index="3">
                            <h5>Why is the CIBIL Rank not available for my CCR?</h5>
                        </li>
                        <li data-index="4">
                            <h5>How do I rectify information on CCR?</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="questionable-panel-footer">
                <a href="#" class="btn btn-outline btn-outline-blue w-100">Browse Topics</a>
            </div>
        </div>
    
        <div class="questionable-content">
            <div class="questionable-panel-header">
                <button class="btn text-white panel-back-btn font-16 panel-back"><i class="icon-back-arrow icon"></i>Back</button>
            </div>
            <div class="content-wrap drilldown-content">
                <div class="question-panel-content dd-content" data-index="0">
                    <div class="content-heading">
                        <h4 class="text-darkblue">What is the CIBIL Rank?</h4>
                    </div>
                    <div class="details">
                        <p>The CIBIL Rank is derived from your Company Credit Report (CCR) which summarizes your CCR in the form of one number. It is provided from a scale of 10 to 1, where 1 is the best rank that can be achieved. The rank is only provided to companies that have outstanding loans of Rs. 10 lakhs to Rs. 50 crores.</p>                        
                    </div>
                </div>  
                <div class="question-panel-content dd-content" data-index="1">
                    <div class="content-heading">
                        <h4 class="text-darkblue">What is CIBIL Company Credit Report (CCR)?</h4>
                    </div>
                    <div class="details">
                        <p>CIBIL Company Credit Report is a factual record of your credit payment history compiled from information received from different credit institutions. The purpose of CCR is to help lenders make informed credit decisions - quickly and objectively.</p>
                    </div>
                </div>  
                <div class="question-panel-content dd-content" data-index="2">
                    <div class="content-heading">
                        <h4 class="text-darkblue">Who can access CIBIL Rank and CCR?</h4>
                    </div>
                    <div class="details">
                        <p>CIBIL Members, which include leading Banks and Financial Institutions, can access information from CIBIL on the principle of reciprocity i.e. only those Members who have provided all their data to CIBIL are permitted to access CIBIL Credit Reports. Members can do so only to take valid credit decisions. Disclosure to any other person or entity is prohibited. Please note that, CIBIL members also have an option to access only the CCR.Companies can also request access to their CIBIL Rank and Company Credit Reports directly from CIBIL. <a href="https://cibilrank.cibil.com/" target="_blank" class="text-link-blue text-underline-normal font-14 panel-back">Get Yours Now</a></p>
                    </div>
                </div>  
                <div class="question-panel-content dd-content" data-index="3">
                    <div class="content-heading">
                        <h4 class="text-darkblue">Why is the CIBIL Rank not available for my CCR?</h4>
                    </div>
                    <div class="details">
                        <p>CIBIL Rank is available for companies that have current outstanding loan between Rs. 10 lakhs and Rs. 50 crores. Please be assured that non availability of CIBIL Rank is not a negative thing. You can evaluate your company’s credit performance based on your CIBIL Company Credit Report (CCR).</p>
                    </div>
                </div>  
                <div class="question-panel-content dd-content" data-index="4">
                    <div class="content-heading">
                        <h4 class="text-darkblue">Why is the CIBIL Rank not available for my CCR?</h4>
                    </div>
                    <div class="details">
                        <p>The easiest way to initiate a dispute request is by submitting a duly completed online Dispute Form. <a href="https://www.cibil.com/online/file-company-dispute.do" target="_blank" class="text-link-blue text-underline-normal font-14 panel-back">Please Click Here</a> to initiate an online dispute request.</p>                        
                    </div>
                </div>  
                <div class="feedback-box">
                    <h4 class="mb-0 p-15 text-darkblue fb-title">Was that helpful?</h4>
                    <div class="feedback-btns row m-0">
                        <div class="col-6 pl-0">
                            <button class="feedback-btn feedback-btn-yes" data-feedbacktype="yes"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;<span>Yes</span></button>
                        </div>
                        <div class="col-6 pr-0">
                            <button class="feedback-btn feedback-btn-no" data-feedbacktype="no"><i class="far fa-thumbs-down"></i>&nbsp;&nbsp;<span>No</span></button>
                        </div>                    
                    </div>
                    <div class="feedback-content">
                        <div class="feedback-positive user-feedback" id="feedbacktype-yes">                        
                            <h4 class="mb-2 text-darkblue">We're glad we could help!</h4>
                            <p class="">If you need help with anything else <a href="#" target="_self" class="text-link-blue text-underline-normal font-14 panel-back">go back</a> to the list of articles, or if you're done <a href="#" target="_self" class="text-link-blue text-underline-normal font-14 panel-close">close this widget</a>.</p>
                        </div>
                        <div class="feedback-negative user-feedback" id="feedbacktype-no">
                            <h4 class="mb-2 text-darkblue">We're sorry about that.</h4>
                            <p class="">If you like, you can <a href="#" target="_self" class="text-link-blue text-underline-normal font-14">contact customer support</a> or <a href="#" target="_self" class="text-link-blue text-underline-normal font-14 panel-back">go back</a>.</p>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
    
    <!-- End of Floating Help Button -->